.text-section {
	margin: 3em auto;
}

.background{
	width: 200px;
	height: 248px;
	background-image: url('./nothing.png');
}

.text-section:first-child {
	margin-top: 0;
}

.centered {
	text-align: left;
}

p,
label {
	font-family: Georgia, Times, 'Times New Roman', serif;
	line-height: 1.5em;
}

.username-form {
	margin-bottom: 1em;
}

.input {
	outline: none;
	border-bottom: 1px dotted #999;
}

.at-prefix {
	color: black;
	margin-left: 0.4em;
}