
.home{
	width: 100%;
	height: 100%
}
.gantt{
	width: 100%;
	height: 860px;
	float: left;
}
.charts{
	width: 100%;
	height: 860px;
	padding: 5px 0;
	background:white;
}
.charts>div{
	width: 50%;
	float: left;
	border: solid 1px #ececec;
	background: white;
	padding: 0px 0px
}
.chart{

}
.chart-wrapper{
	min-height: 420px;
	width: 600px;

}
.chartLable{
	color: #5584c4;
	font-size: 16px;
	height:30px;
	width:360px;
	margin:10px;
	text-align: left;
	vertical-align: middle; 
	line-height: 30px;
	padding-left: 20px;
}
.img{
	width: 50%;
	height: 420px;
	float: left;
	padding: 5px
}
.imgBox{
	 width:100%;
	 height:100%;
	 cursor: pointer;
}
.task{
	width: 50%;
	height: 420px;
	float: left;
}
.ganttBox{
	 width:100%;
	 height:calc(100% - 50px)
}
.details{
	width: 100%;
	height: 800px;
	float: left;
	padding: 10px 40px
}
.details p {
	text-indent: 1cm;
	font-size: 1.3em
}

.show{
	display: block;
}

.hidden{
	display: none;
}